@font-face
{
	font-family: 'BallparkWeiner';
	           src: url('polices/ballpark.eot');
	           src: url('polices/ballpark.eot?#iefix')
	           format('embedded_opentype'),
	                url('polices/ballpark.wotf')
	                format('wotf'),
	                url('polices/ballpark.ttf')
	                format('truetype'),
	                url('polices/ballpark.svg#BallparkWeiner')
	                format('svg');

}

@font-face
{
	font-family: 'Dayrom';
	           src: url('polices/dayrom.eot');
	           src: url('polices/dayrom.eot?#iefix')
	           format('embedded_opentype'),
	                url('polices/dayrom.wotf')
	                format('wotf'),
	                url('polices/dayrom.ttf')
	                format('truetype'),
	                url('polices/ballpark.svg#Dayrom')
	                format('svg');

}
#bloc_page
{
	margin: auto;
	width: auto;
}

.bleu
{
	color: blue;
	text-decoration: underline;
}
.couleur
{
	color: blue;
}
nav
{
	background: url('fond_degraderouge.png') repeat-y left;
	margin: 50px 0px 50px 50px;
}
nav ul 
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
nav li 
{
	margin-right:15px;
}
nav a 
{
	text-transform: uppercase;
	font-size: 1.3em;
	color: olive;
	text-decoration: none;
	font-family: 'Dayrom', serif;
}
nav a:hover
{
	border-bottom:3px outset olive;
}
.blue
{
	color: blue;
}
section
{
	background-color: snow;

}
section ul 
{
	list-style-type: none;
}
section h2
{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5em;
	text-decoration: none;
	color: darkred;
	font-family: 'Dayrom', serif;
}
section p 
{
	text-align: justify;
	font-family: 'Dayrom', serif;
}
footer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: snow;	
}
footer div 
{
	padding-top: 50px;
}
#contact h2
{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	font-size: 2em;
	color: fuchsia;
	 font-family: 'BallparkWeiner', serif;
}
#contact a 
{
	text-decoration: none;
	font-size: 1.2em;
	color: darkblue;
	font-family: 'Dayrom', serif;

}
#contact p:first-child 
{
	font-family: 'Dayrom', serif;
	font-size: 1.3em;
}
#contact p 
{
	font-size: 1.2em;
	font-family: 'Dayrom', serif;

}
#contact h3
{
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: normal;
}

#reseaux img
{
	background-color: navy;
}
#reseaux
{
	margin: 25px 0px 25px 0px;
}
textarea
{
	margin-top: 10px;
}
label ~ input
{
	margin-top: 5px;
}
#formulaire
{
	font-size: 1.1em;
	font-family: 'Dayrom', serif;
}
:required
{
	border: 1px solid yellow;
}
label:invalid
{
	border-bottom: 2px solid red;
}
#mention h2
{
   text-transform: uppercase;
   font-size: 2em;
   font-weight: normal;
   text-decoration: none;
   color: royalblue;
   font-family: 'BallparkWeiner', serif;
}
#mention h3
{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.5em;
	font-family: 'Dayrom', serif;
}
#mention p 
{
	font-size: 1.2em;
	color: green;
	font-family: 'Dayrom', serif;
}
#mention p:last-child
{
	font-size: 1.5em;
}
#lien h2
{   
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	font-family: 'BallparkWeiner', serif;
}
#lien a 
{
	text-decoration: none;
	font-size: 1.2em;
	color: darkblue;
	font-family: 'Dayrom', serif;
	
}
.centrer
{
	font-size: 1.1em;
	text-decoration: underline;
	color: darkgreen;
	font-family: 'Dayrom', serif;
}
